// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)

// @import 'profile';

@import '../../node_modules/@ajusa/lit/dist/lit';

// You can use any sass features, like variables, for instance:
$font-stack: sans-serif;
$font-color: #272932;
$primary-color: #3772FF;

// Font Overrides
body, h1, h2, h3, h4 {
  font-family: $font-stack;
  color: $font-color;
}

.c {
  font-family: $font-stack;
}

.btn {
  font-family: $font-stack;
}

a {
  color: $font-color;
}

.btn.primary {
  background-color: $primary-color;
  border: solid $primary-color;
}